@import '../../scss/_mixins';
.seats-selection {
   &__header {
      @include font(500, 3rem, 3.5rem, var(--color-main-dark));
      text-transform: uppercase;
      margin-bottom: 5rem;
   }
   &__button-wrapper {
      display: flex;
      justify-content: flex-end;
      color: var(--color-main-light);
      margin-top: 10rem;
      margin-bottom: 12rem;
      > button {
         @include button-gold;
         &:disabled {
            background-color: var(--color-grey);
            color: var(--color-main-light);
         }
      }
   }
   &__no-trains {
      @include font(400, 3rem, 3.5rem, var(--color-main-dark));
   }
}
