@import '../../../../SelectionBlock.module.scss';

.abc .ant-popover {
   &-title {
      text-align: center;
   }

   &-inner {
      border-radius: 0.5rem;
      @include font(400, 1.6rem, 1.9rem, var(--color-black));
      &-content {
         background: var(--color-popover);
         box-shadow: var(--box-shadow-popover);
         display: flex;
         justify-content: space-between;
         & button {
            padding: 1rem;
            border: 0.1rem solid var(--color-bars-light);
            border-radius: 0.5rem;
            &:last-child {
               margin-left: 1rem;
            }
         }
      }
   }
}
