@import '../../SelectionBlock/SelectionBlock.module.scss';

.coaches {
   &-first {
      border-bottom: 0.1rem dashed var(--color-bars-light);
   }
   &-middle {
      padding-top: 3rem;
      border-bottom: 0.1rem dashed var(--color-bars-light);
   }
   &-last {
      padding-top: 3rem;
   }
}
.noCoach {
   text-align: center;
   margin-top: 3rem;
   @include font(700, 2.4rem, 2.8rem, var(--color-yellow-orange));
}
