.item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   &__left {
      display: flex;
      align-items: baseline;
   }
   &__title {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: var(--color-main-light);
      margin: 1.7rem 3.4rem;
   }
}
