@import '../../../SelectionBlock.module.scss';
.price {
   text-align: right;
   margin-right: 4rem;
   margin-bottom: 3rem;
   @include font(700, 2.4rem, 2.8rem, var(--color-yellow-orange));
   .total {
      .currency {
         margin-left: 1rem;
      }
   }

   .text {
      @include font(500, 2.1rem, 2.5rem, var(--color-main-dark));
      margin-bottom: 2rem;
   }
   .prompt {
      @include font(400, 1.6rem, 1.9rem, var(--color-yellow-orange));
      margin-top: 1.5rem;
   }
   .alert {
      @include font(400, 1.6rem, 1.9rem, var(--color-error));
   }
}
