@import '../../scss/_mixins';

.paymentOption {
   .ant-row.ant-form-item-row {
      .ant-form-item-label {
         > label {
            @include font(400, 1.6rem, 1.9rem, var(--color-main-dark));
            &::before {
               content: '';
            }
         }
      }
   }
}

.ant-radio-wrapper.ant-radio-wrapper-in-form-item.radioRow {
   .ant-radio {
      .ant-radio-inner {
         width: 2.8rem;
         height: 2.8rem;
         border: 0.1rem solid var(--color-grey);
         border-radius: 0.5rem;
         background-color: transparent;
      }
   }
   > span:last-child {
      margin-left: 1rem;
      @include font(400, 2.4rem, 2.8rem, var(--color-grey));
   }
}

.ant-radio-wrapper.ant-radio-wrapper-checked.ant-radio-wrapper-in-form-item.radioRow {
   .ant-radio.ant-radio-checked {
      color: var(--color-yellow-orange);
      background-color: var(--color-yellow-orange);
      .ant-radio-inner::after {
         background-color: var(--color-yellow-orange);
      }
   }
   > span {
      color: var(--color-yellow-orange);
   }
}

.ant-input-number.ant-input-number-in-form-item.ant-input-number-status-success {
   .ant-input-number-input-wrap {
      .ant-input-number-input {
         border: none;
      }
   }
}
