@import '../../../scss/mixins';
@import '../SidebarDetails.module.scss';
@mixin row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.wrapperTop {
   @include row;
   .header {
      @include row;
      &__text {
         @include header;
         text-transform: capitalize;
         margin-left: 1rem;
      }
   }
   .date {
      @include font(400, 1.8rem, 2.1rem, var(--color-main-light));
   }
}

.expandBlock {
   padding-top: 5rem;
   padding-bottom: 3rem;
   .row {
      @include row;
      padding-bottom: 5rem;
      .name {
         @include font(400, 1.8rem, 2.1rem, var(--color-secondary-light));
      }
      .trainName {
         @include font(700, 1.6rem, 1.9rem, var(--color-main-light));
      }
   }
   .totalTime {
      @include font(400, 1.8rem, 2.1rem, var(--color-secondary-light));
      text-align: center;
   }
   .directions {
      .top {
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         .direction {
            display: flex;
            flex-direction: column;

            .time {
               @include font(700, 2.4rem, 2.8rem, var(--color-main-light));
            }
            .date {
               @include font(400, 1.8rem, 2.1rem, var(--color-grey));
            }
         }
         .right {
            text-align: right;
         }

         .arrow {
            width: 3rem;
            height: 2rem;
         }
      }
      .bottom {
         display: flex;
         justify-content: space-between;
         .direction {
            display: flex;
            flex-direction: column;

            .city {
               @include font(400, 1.8rem, 2.1rem, var(--color-main-light));
               text-transform: capitalize;
               margin-top: 2rem;
            }
            .station {
               @include font(400, 1.6rem, 1.9rem, var(--color-grey));
            }
         }
         .right {
            text-align: right;
         }
      }
   }
}
