.wrapper {
   .top {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: var(--color-main-light);
      display: flex;
      justify-content: space-between;
   }
   padding-bottom: 2rem;
}
