.item {
   display: flex;
   align-items: baseline;
   justify-content: space-around;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.9rem;
   &:nth-child(n):not(:last-child) {
      margin-bottom: 2rem;
   }
   .type {
      color: var(--color-bars);
      width: 6.5rem;
   }
   .seats {
      font-weight: 500;

      color: var(--color-yellow-orange);
   }
   .price {
      display: flex;
      align-items: baseline;

      &__wrapper {
         display: flex;
         align-items: baseline;
         justify-content: flex-end;
         .price {
            &__start {
               color: var(--color-grey);
               margin-right: 0.5rem;
            }
            &__number {
               font-weight: 700;
               font-size: 2.4rem;
               line-height: 2.8rem;
               color: var(--color-secondary-dark);
               margin-right: 0.5rem;
            }
            &__currency {
               width: 1.6rem;
               height: 1.6rem;
            }
         }
      }
   }
}
