@import '../../SelectionBlock/SelectionBlock.module.scss';

.coach {
   .top {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 2rem;
      .coachNumber {
         display: flex;
         flex-direction: column;
         padding-top: 3rem;
         width: 19rem;
         background-color: var(--color-tickets);
         text-align: center;

         &__name {
            @include font(700, 3rem, 3.5rem, var(--color-main-dark));
         }
         &__coach {
            @include font(400, 2.4rem, 2.8rem, var(--color-main-dark));
         }
      }
      .header {
         @include font(400, 1.8rem, 2.1rem, var(--color-grey));
         text-transform: capitalize;
         padding-top: 3rem;
         padding-bottom: 2rem;
      }
      .seats {
         .seatsTotal {
            color: var(--color-black);
            margin-left: 1rem;
         }

         .details {
            @include font(400, 2.4rem, 2.8rem, var(--color-black));
            text-transform: capitalize;

            .seatsNumber {
               font-weight: 700;
               margin-left: 1rem;
            }
            &:nth-child(n):not(:last-child) {
               margin-bottom: 2.5rem;
            }
         }
      }
      .service {
         .serviceProvider {
            color: var(--color-bars-light);
            text-transform: uppercase;
            margin-left: 2rem;
         }
      }
   }
   .middle {
      @include font(400, 1.6rem, 1.9rem, var(--color-black));
      padding: 1.6rem 1.1rem;
      background-color: #f3f3f3;
      width: 20rem;
      margin-right: 4rem;
      margin-left: auto;
      border-radius: 0.5rem;
   }

   .bottom {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
   }
}

.noCoach {
   text-align: center;
   margin-top: 3rem;
   @include font(700, 2.4rem, 2.8rem, var(--color-yellow-orange));
}
